<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
{if $head_keywords}
<meta name="keywords" content="{$head_keywords}"/>
{/if}
{if $head_description}
<meta name="description" content="{$head_description}"/>
{/if}
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="wap-font-scale" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="Robots" content="all">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="" rel="apple-touch-icon-precomposed">
    <link rel="shortcut icon" href="{$CFG['url']}favicon.ico" type="image/x-icon" />
    <title>{if $seo_title}
        {$seo_title}
    {else}
        {if $head_name}
            {$head_name}
         {/if}
         {if $city_sitename}
            {$city_sitename}
         {else}
            {$site_name}
         {/if}
    {/if}</title>
    <!-- css -->
<!--<link rel="stylesheet" type="text/css" href="{DT_MOB}static/lib/jquery/jquery.mobile.custom.structure.min.css"/>-->
<link rel="stylesheet" type="text/css" href="{DT_MOB}static/style.css"/>
    <link rel="stylesheet" href="{DT_MOB}static/xb/css/bootstrap.min.css">
    <link rel="stylesheet" href="{DT_MOB}static/xb/css/swiper.min.css">
    <link rel="stylesheet" href="{DT_MOB}static/xb/css/icon-font.css">
    <link rel="stylesheet" href="{DT_MOB}static/xb/css/weui.min.css">
    <link rel="stylesheet" href="{DT_MOB}static/xb/css/jquery-weui.min.css">
    <link rel="stylesheet" href="{DT_MOB}static/xb/css/main.css">
<script type="text/javascript" src="{DT_MOB}static/xb/js/jquery.min.js"></script>
<script type="text/javascript">
$(document).bind("mobileinit", function() {
　　{if $EXT[mobile_ajax]}
	$.mobile.defaultPageTransition = 'slide';
	{else}
	$.mobile.ajaxEnabled = false;
	{/if}
});
var Dbrowser = '{$DT_MOB[browser]}',AJPath = '{DT_MOB}ajax.php',DTPath = '{DT_PATH}',DTMob = '{DT_MOB}';
{if !DT_DEBUG}
if(!('ontouchend' in document) && window.location.href.indexOf('device.php') == -1) window.location='{DT_MOB}api/device.php?uri={urlencode($head_pc)}';
{/if}
</script>
<script type="text/javascript" src="{DT_MOB}static/js/common.js"></script>

</head>
<body>
<div class="ui-toast"></div>
<div class="ui-mask"></div>
<div class="ui-sheet"></div>